@font-face {
  font-family: "Inter_Regular";
  src: url("../assets/fonts/Inter/static/Inter_18pt-Regular.ttf")
    format("truetype");
  font-weight: 500;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Manrope_Regular";
  src: url("../assets/fonts/Manrope/static/Manrope-Regular.ttf")
    format("truetype");
  font-weight: 500;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Manrope_Medium";
  src: url("../assets/fonts/Manrope/static/Manrope-Medium.ttf")
    format("truetype");
  font-weight: 600;
  /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Manrope_SemiBold";
  src: url("../assets/fonts/Manrope/static/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 700;
  /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Manrope_Bold";
  src: url("../assets/fonts/Manrope/static/Manrope-Bold.ttf")
    format("truetype");
  font-weight: 800;
  /* Bold */
  font-style: normal;
}

.aboutContainer {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* La segunda columna ocupa el doble de espacio */
  grid-template-rows: repeat(3, 1fr); /* 3 filas de igual tamaño */
  gap: 10px; /* Espacio entre los elementos */
}

.item {
  background-color: #26272B;
  padding: 100px;
  text-align: center;
}

/* Este item ocupará el espacio de dos columnas */
.item-2 {
  grid-column: span 2; /* Ocupa dos columnas */
}

