@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope/static/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope/static/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope/static/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    /* SemiBold */
    font-style: normal;
}

.home-container {
    position: relative;
    height: 100vh;
    display: flex
;
    flex-direction: column;
    background-image: url('/fondo-home2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
}

.image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('/fondoA.png');
    background-size: cover;
    background-position: right center; /* Mantiene la parte derecha visible */
    background-repeat: no-repeat;
    z-index: 2;
}


.home-content {
    font-family: 'Manrope', sans-serif;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 70px;
}

.home-title {
    cursor: default;
    margin: 0;
    font-weight: 700;
    font-size: 58px;
    color: #FFFFFF;
}

.home-content h2{
    font-weight: 500;
    margin: 0 0 8px 0;
    font-size: 38px;
    color: #FFFFFF;
}

.home-content span {
    font-size: 16px;
    color: #dadada;
    font-weight: 700;
    margin-bottom: 24px;
}

.home-content button {
    background-color: #FBD207;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home-content button:hover {
    background-color: #000000;
    color: #ffffff;
}